* {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 5px;
}

#container {
    display: block;
    margin: auto;
}

#new-cases-key {
    height: 12px;
    width: 12px;
    background: #999;
    display: inline-block;
}

#average-key {
    height: 2px;
    width: 12px;
    background: red;
    display: inline-block;
    position: relative;
    top: -5px;
}

#key {
    margin-top: 0;
}